:root {
	--cf-dark-color: #4f4f4f;
	--cf-light-color: #eeeeee;
	--cf-primary-color: #001E43;
	--cf-secondary-color: #ff993b
}

main>.container {
	padding: 60px 15px 0;
	margin-bottom: 5rem;
}

/* Navbar Styles */
.navbarBG {
	background-color: var(--cf-dark-color);
}

.checkListIcon {
	color: var(--cf-primary-color)
}

.jsIcon {
	color: gold;
}

.bsIcon {
	color: purple;
}

.htmlIcon {
	color: orangered;
}

.cssIcon {
	color: royalblue;
}

.btn-outline-primary {
	color: var(--cf-primary-color);
	border-color: var(--cf-secondary-color);
}

.btn-outline-primary:hover, 
.btn-outline-primary:focus, 
.btn-outline-primary:active{
	border-color: var(--cf-primary-color);
	background-color: var(--cf-secondary-color);
}
/* Footer Styles */
.footer {
	background-color: var(--cf-dark-color);
	color: var(--cf-light-color);
}

.sticky-footer {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
}

footer .social>a {
	color: var(--cf-light-color);
	opacity: .75;
}

footer .social>a:hover {
	color: var(--cf-secondary-color);
	opacity: .90;
}