:root {
	--cf-dark-color: #4f4f4f;
	--cf-light-color: #eeeeee;
	--cf-primary-color: #001E43;
	--cf-secondary-color: #ff993b
}

main>.container {
	padding: 60px 15px 0;
	margin-bottom: 5rem;
}

/* Navbar Styles */
.navbarBG {
	background-color: var(--cf-dark-color);
}

/* Footer Styles */
.footer {
	background-color: var(--cf-dark-color);
}

.sticky-footer {
	position: sticky;
	left: 0;
	bottom: 0;
	width: 100%;
}